@import 'jquery.fullpage.css';
@import 'fontello.css';
@import 'modal.css';

* {
    box-sizing: border-box;
}

$black: #33465b;
$grey: #7e7e7e;
$white-grey: #A2A2A2;
$white: #ffffff;
$yellow: #EAB824;

body {
    font-family: 'Montserrat', sans-serif;
}

.img {
    background-repeat: no-repeat;
}

li {
    list-style-type: none;
}

ul {
    list-style: none;
    ;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    padding-block-start: 0;
}

.modal__close {
    outline: none;
    font-size: 30px;
    cursor: pointer;

    :before {

        cursor: pointer;
    }
}

.modal__container {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

#modal-form {
    .modal__content {
        margin: 0;
    }

    .form {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        margin-top: 0;

        form {
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
        }

        .text {
            color: $black;
            text-align: center;
        }

        input {
            border-color: $black;
            color: $black;
            margin-right: 0;
            margin-bottom: 20px;
        }

        button {
            color: white;
            background-color: $black;
            font-weight: 700;
            width: 221px;
        }
    }
}

.modal__overlay {
    z-index: 4;
}

a {
    color: black;
    text-decoration: none
}

h1,
h2,
h3,
h4 {
    font-weight: normal;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

.background {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: block;
    position: absolute;
    z-index: -1;
}

.section {
    position: relative;

    .container {
        padding-top: 10vh;
        padding-left: 161px;
        height: 100vh;
    }

    .slide-number-wrapper {
        text-transform: uppercase;
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;

        .number {
            font-size: 132px;
            color: $grey;
        }

        .name {
            padding-top: 23px;
            padding-left: 30px;
            font-size: 47px;
            color: $grey;
        }
    }
}

.top-layout {
    position: absolute;
    left: 0;
    right: 0;

    .container {
        position: relative;
        z-index: 3;
    }

    .top-menu {
        margin-top: 10.7vh;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        font-size: 22px;
        justify-content: space-between;
        text-transform: uppercase;
        color: $black;

        .menu {
            width: 1050px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 3vh;
            color: $black;
        }

        .logo img {
            width: 175px;
        }

        .key {
            margin-bottom: 2.5vh;
        }
    }
}


.left-layout {
    .container {
        position: relative;
        z-index: 3;
        height: 0;
        top: 24vh;
    }

    .left {
        left: 0;
        display: block;
        width: 142px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;
        height: 72vh;

        .top-llne {
            width: 2px;
            height: 12vh;
            background: $grey;
        }

        .bottom-llne {
            width: 2px;
            height: 20vh;
            background: $grey;
        }

        .dot {
            height: 16px;
            width: 16px;
            border-radius: 16px;
            border: 1px solid $black;
            position: relative;
            display: block;
        }

        .active .dot {
            border: none;
            background: $black;
        }

        .active .dot::after {
            display: block;
            content: " ";
            position: absolute;
            top: -4px;
            left: -4px;
            width: 22px;
            height: 22px;
            border-radius: 11px;
            border: 1px solid $black;
        }
    }
}

.black.top-layout {
    .menu {
        span {
            color: $white !important;
        }
    }

    .logo {
        img {
            filter: grayscale(100%) invert(100%) brightness(157%) contrast(97%);
        }
    }

    .key {
        img {
            filter: invert(100%) brightness(119%) contrast(136%);
        }
    }
}

.black.left-layout {

    .top-line,
    .bottom-llne {
        background: $white-grey;
    }

    .dot {
        border-color: $white;
    }

    .active {
        .dot {
            background-color: $white;
        }

        .dot::after {
            border-color: $white;
        }
    }
}

.form {
    margin-top: 60px;

    .text {
        font-size: 30px;
        color: $yellow;
    }

    form {
        margin-top: 55px;
        display: flex;
    }

    input {
        background: transparent;
        border: 2px solid $yellow;
        height: 66px;
        font-size: 30px;
        width: 423px;
        padding: 0 20px;
        color: $yellow;
        outline: none;
        border-radius: 20px;
        margin-right: 40px;
    }

    input::placeholder {
        color: $yellow;
        opacity: 1;
    }

    button {
        width: 300px;
        height: 66px;
        background: $yellow;
        color: black;
        border: none;
        font-size: 25px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        border-radius: 20px;
    }
}

#slide1 {
    .background {
        background: url('../img/1-concrete.png');
        background-size: cover;

        .cloud {
            left: -313px;
            position: absolute;
            top: -49vh;
        }
    }

    .container {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        position: relative;

        .cloud {
            position: absolute;
            z-index: 2;
            left: 94px;
            top: -377px;
        }
    }

    .left {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        position: relative;
        z-index: 4;
        text-transform: uppercase;
        font-size: 33px;

        p {
            line-height: 60px;
            margin: 0;
        }

        h1 {
            line-height: 60px;
            margin: 0;
            font-size: 33px;
            font-weight: 900;
            color: $black;
        }

        .button {
            width: 350px;
            height: 66px;
            background: $yellow;
            color: black;
            border: none;
            font-size: 25px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            border-radius: 20px;
            line-height: 66px;
            text-align: center;
            margin-top: 30px;
            margin-bottom: 20px;
        }

        .phone {
            color: $yellow;
            display: block;
            color: $black;
            // font-weight: 700;
        }

        .phone-wrapper {
            display: flex;
            flex-flow: column;
            align-items: center;
        }
    }

    #next {
        position: absolute;
        z-index: 3;
        bottom: 51px;
    }

    #next:hover {
        cursor: pointer;
    }

    .device {
        margin-top: -100px;
        margin-bottom: -100px;
    }
}

#slide2 {
    .background {
        background: url('../img/1-concrete.png');
        background-size: cover;
    }

    .container {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
    }

    h2 {
        color: $black;
        font-size: 29px;
        font-weight: 900;
        text-transform: uppercase;
    }

    .li {
        margin-left: 20px;
        font-size: 30px;
        position: relative;
        color: $black;
        line-height: 50px;
    }

    .li::after {
        position: absolute;
        display: block;
        content: " ";
        height: 6px;
        width: 6px;
        border-radius: 10px;
        background: #33465b;
        left: -20px;
        top: 23px;
    }

    .cup img {
        margin-top: -100px;
        margin-left: -120px;
        margin-bottom: -180px;
        margin-right: -150px;
    }
}

#slide3 {
    .background {
        background: url('../img/3-background.png');
        background-size: cover;
    }

    .container {
        padding-top: 24vh;
    }

    h2 {
        color: $white;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 29px;
        line-height: 46px;
    }

    .content-wrapper {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-end;
        justify-content: space-between;
    }

    .video-wrapper {
        margin-bottom: 20px;
    }
}

#slide4 {
    .background {
        background: url('../img/1-concrete.png');

        .cloud {
            position: absolute;
            left: -509px;
            top: -831px;
        }
    }

    .container {
        padding-top: 27vh;
    }

    h2 {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 29px;
    }

    .content-wrapper {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: space-between;
        height: 50vh;

        .advant {
            height: 200px;
            margin: 50px 28px;
            margin-top: 15px;
            text-align: center;
            font-size: 22px;
            font-weight: 500;

            .img-wrapper {
                display: flex;
                flex-flow: column;
                align-content: center;
                justify-content: center;
                height: 145px;
            }
        }

        .bottom {
            margin-top: 60px;
        }
    }
}

#slide5 {
    .background {
        background: url('../img/1-concrete.png');
        background-size: cover;

        img {
            position: absolute;
            left: -487px;
            top: -978px;
        }
    }

    .container {
        padding-top: 10vh;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-between;

        .left {
            display: flex;
            flex-flow: column;

            .comp {
                display: flex;
                flex-flow: column;
                justify-content: center;
                align-items: center;
                margin-top: 150px;

                .text {
                    font-size: 18px;
                    text-align: center;
                }

                .triangle {
                    margin-top: 10px;
                    margin-bottom: 10px;
                    width: 0;
                    height: 0;
                    border-left: 7px solid transparent;
                    border-right: 7px solid transparent;

                    border-top: 11px solid #5F5F5F;
                }

                img {
                    text-align: center;
                }
            }
        }

        .right {
            position: relative;

            .text {
                position: absolute;
                font-weight: 500;
            }

            #text1 {
                left: 432px;
                top: 153px;
                font-size: 18px;

                .triangle {
                    margin-top: 10px;
                    margin-bottom: 10px;
                    width: 0;
                    height: 0;
                    border-left: 18px solid transparent;
                    border-right: 18px solid transparent;

                    border-top: 30px solid #5F5F5F;
                }
            }

            #text2 {
                left: 579px;
                top: 208px;
                font-size: 14px;
                width: 400px;

                .triangle {
                    margin-top: 10px;
                    margin-bottom: 10px;
                    width: 0;
                    height: 0;
                    border-left: 7px solid transparent;
                    border-right: 7px solid transparent;

                    border-top: 11px solid #5F5F5F;
                }
            }

            #text3 {
                left: 179px;
                top: 672px;
                text-align: right;
                font-size: 23px;

                .triangle {
                    margin-top: 10px;
                    margin-bottom: 10px;
                    width: 0;
                    height: 0;
                    border-left: 18px solid transparent;
                    border-right: 18px solid transparent;

                    border-bottom: 30px solid #5F5F5F;
                    margin-left: auto;
                }
            }
        }
    }
}

#slide6 {
    .background {
        background: url('../img/6-background.png');
        background-size: cover;
    }

    .container {
        padding-top: 25vh;

        .slide-number-wrapper {
            .number {
                color: #A8A8A8;
            }

            .name {
                color: #E0E0E0;
            }
        }

        .mid {
            color: white;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            margin-top: 30px;

            .big {
                display: flex;
                flex-flow: row nowrap;
                align-items: flex-end;
            }

            .numb {
                font-size: 86px;
                color: $yellow;
            }

            .medium {
                font-size: 30px;
                margin-bottom: 18px;
                margin-right: 10px;
            }

            .text1 {
                font-size: 48px;
                color: $yellow;
            }

            .small {
                font-size: 24px;
                text-align: center;
            }

            .text2 {
                font-size: 24px;
                color: $yellow;
            }

            #plus1 {
                margin-left: 50px;
            }

            .text-wrapper {
                margin-bottom: 18px;
                margin-left: 22px;
            }

            .percent {
                align-self: flex-start;
            }
        }
    }

    .form {
        .text {
            color: white;
        }

        button {
            color: #667381;
        }
    }
}

#slide7 {

    .background {
        background: url('../img/1-concrete.png');
        background-size: cover;
    }

    .container {
        padding-top: 22vh;
    }

    .text1 {
        font-size: 48px;
        color: $yellow;
    }

    .header {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 30px;
    }

    .text-wrapper {
        margin-bottom: 18px;
        margin-left: 22px;
    }

    .text1 {
        font-size: 38px;
        color: $yellow;
    }

    .numb {
        font-size: 75px;
        color: $yellow;
    }

    .text2 {
        font-size: 24px;
        color: $yellow;
    }

    .costs {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        margin-right: -80px;
        margin-top: 30px;

        .cost {
            position: relative;
            display: flex;
            flex-flow: column;
            align-items: center;

            .paragraph {
                text-align: center;
                font-size: 26px;
                color: white;
            }
        }

        img {
            position: absolute;
            z-index: -1;
        }

        .center {
            width: 433px;
            height: 446px;
            padding-top: 70px;

            img {
                position: absolute;
                top: -152px;
                left: -120px;
            }
        }

        .left,
        .right {
            width: 380px;
            height: 390px;
            margin-top: 30px;
            padding-top: 50px;

            img {
                left: -122px;
                top: -58px;
            }
        }
    }
}

#slide8 {
    .background {
        background: url('../img/3-background.png');
        background-size: cover;
    }

    .container {
        padding-top: 25vh;
    }

    .form {
        margin-top: 30px;
    }

    .steps {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-left: 200px;
        align-items: center;

        .step {
            color: white;
            font-size: 22px;
            font-weight: 500;
            margin-bottom: 50px;
            text-align: center;
        }

        .triangle {
            width: 0;
            height: 0;
            border-top: 7px solid transparent;
            border-bottom: 7px solid transparent;

            border-left: 10px solid white;
            margin: 0 28px;
            margin-bottom: 50px;
        }
    }
}

#slide9 {
    .background {
        background: url('../img/1-concrete.png');
        background-size: cover;

        img {
            position: absolute;
            top: -900px;
            left: -400px;
        }
    }

    .container {
        padding-top: 25vh;
    }

    .form {
        .text {
            color: $black;
        }

        input {
            border-color: $black;
            color: $black;
        }
        input::placeholder {
            color: $black;
            opacity: 1;
        }

        button {
            color: white;
            background-color: $black;
            font-weight: 700;
            width: 221px;
        }
    }

    .footer {
        margin-top: 10vh;
        font-size: 20px;
        color: $grey;

        a {
            color: $grey;
        }

        .phone {
            color: $yellow;
            font-size: 30px;
        }

        .top {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;

            .left {
                display: flex;
                flex-flow: column;

                a {
                    white-space: nowrap;
                }
            }

            .center {
                margin: 0 50px;
            }

            .right {
                text-align: right;
                white-space: nowrap;
                display: flex;
                flex-flow: column;
                align-items: flex-end;

                .social {
                    display: flex;
                    flex-flow: row;
                    align-items: center;

                    a {
                        display: block;
                    }
                }
            }
        }

        .bottom {
            text-align: center;
            color: #B2B2B2;
        }
    }
}

@media(max-width: 1500px) {
    .top-layout {
        .top-menu {
            .menu {
                width: 945px;
                font-size: 20px;
            }

            .logo {
                img {
                    width: 158px;
                }
            }
        }
    }

    .left-layout {
        .container {
            top: 26vh;

            .left {
                width: 129px;
            }
        }
    }

    .container {
        width: 1260px;
    }

    .section {
        .slide-number-wrapper {
            .number {
                font-size: 110px;
            }

            .name {
                font-size: 42px;
                padding-top: 13px;
                padding-left: 14px;
            }
        }
    }

    .form {
        margin-top: 48px;

        .text {
            font-size: 24px;
        }

        form {
            margin-top: 44px;
        }

        input {
            width: 338px;
            height: 53px;
        }

        button {
            width: 240px;
            height: 53px;
            font-size: 20px;
        }
    }

    #slide1 {
        .left {
            font-size: 29px;

            h1 {
                font-size: 29px;
            }

            p {
                line-height: 48px;
            }

            .button {
                width: 265px;
                height: 53px;
                font-size: 20px;
                line-height: 53px;
                margin-top: 25px;
                margin-bottom: 15px;
            }
        }

        .device {
            max-width: 620px;
        }

        .container {
            .cloud {
                left: 25px;
                top: -557px;
            }
        }
    }

    #slide2 {
        .li {
            font-size: 24px;
            line-height: 40px;
        }

        h2 {
            margin: 10px 0;
            font-size: 24px;
        }

        .cup {
            img {
                max-width: 646px;
                margin-top: -72px;
                margin-left: -120px;
                margin-bottom: -180px;
                margin-right: -50px;
            }
        }
    }

    #slide3 {
        h2 {
            font-size: 24px;
            line-height: 42px;
            margin: 10px 0;
        }

        .video-wrapper {
            text-align: right;

            img {
                max-width: 80%;
            }
        }
    }

    #slide4 {
        h2 {
            font-size: 24px;
        }

        .content-wrapper {
            .advant {
                font-size: 18px;
                margin-top: 0;

                .img-wrapper {
                    height: 116px;
                    text-align: center;

                    img {
                        max-width: 80%;
                        display: block;
                        margin: 0 auto;
                    }
                }
            }
        }
    }

    #slide5 {
        .container {
            .left {
                .comp {
                    margin-top: 120px;

                    .text {
                        font-size: 14px;
                    }

                    img {
                        width: 80%;
                    }
                }
            }

            .right {
                img {
                    width: 100%;
                }

                #text1 {
                    left: 392px;
                    top: 125px;
                    font-size: 14px;
                }

                #text2 {
                    left: 510px;
                    top: 189px;
                    font-size: 12px;
                    width: 365px;
                }

                #text3 {
                    left: 92px;
                    top: 580px;
                    text-align: right;
                    font-size: 18px;
                }
            }
        }
    }

    #slide6 {
        .container {
            .mid {
                .numb {
                    font-size: 71px;
                }

                .medium {
                    font-size: 24px;
                }

                .text1 {
                    font-size: 39px;
                }

                .text2 {
                    font-size: 19px;
                }

                .small {
                    font-size: 19px;
                }

                #plus1 {
                    margin-left: 40px;
                }
            }
        }
    }

    #slide7 {
        .costs {
            margin-right: -30px;
            margin-top: 0px;

            .numb {
                font-size: 60px;
            }

            .text1 {
                font-size: 31px;
            }

            .text2 {
                font-size: 19px;
            }

            .paragraph {
                font-size: 20px;
            }

            .text-wrapper {
                margin-left: 18px;
            }

            img {
                width: 564px;
            }

            .right,
            .left {
                width: 316px;
            }

            .center {
                width: 379px;

                img {
                    width: 621px;
                }
            }
        }
    }

    #slide8 {
        .steps {
            margin-left: 160px;

            .step {
                font-size: 18px;
                margin-bottom: 40px;
            }

            .triangle {
                margin-bottom: 40px;
            }
        }
    }

    #slide9 {
        .footer {
            font-size: 16px;
            margin-top: 12vh;

            .phone {
                font-size: 24px;
            }
        }
    }
}

@media(max-width: 1300px) {

    .section {
        .slide-number-wrapper {
            .number {
                font-size: 40px;
            }

            .name {
                padding-top: 7px;
                padding-left: 10px;
                font-size: 16px;
            }
        }
    }

    .form {
        margin-top: 0;

        .text {
            font-size: 12px;
        }

        form {
            display: flex;
            flex-flow: column;
            margin-top: 10px;
        }

        input {
            width: 100%;
            font-size: 13px;
            height: 30px;
            border-radius: 8px;
            margin-bottom: 5px;
        }

        button {
            width: 100%;
            height: 66px;
            border-radius: 8px;
            font-size: 13px;

            height: 30px;
        }
    }

    .container {
        width: 90%;
    }

    .top-layout {
        .top-menu {
            margin-top: 1.7vh;
            font-size: 12px;

            .menu {
                width: 100%;
                flex-flow: column;
            }

            .logo {
                img {
                    width: 80px;
                }
            }
        }
    }

    .left-layout {

        .left {
            width: 64px;
            height: 83vh;
        }

        .container {
            top: 16vh;
        }
    }

    .section {
        .container {
            padding-top: 16vh;
            padding-left: 55px;
        }
    }

    #slide1 {
        .container {
            flex-flow: column nowrap;
            justify-content: flex-start;

            .cloud {
                display: none;
            }
        }

        #next {
            left: 125px;
        }

        .device {
            max-width: 100%;
            margin: 0;
        }

        .left {
            h1 {
                font-size: 20px;
                line-height: 20px;
            }

            p {
                font-size: 14px;
                line-height: 20px;
            }
        }

    }

    #slide2 {
        .container {
            flex-flow: column nowrap;
        }

        h2 {
            font-size: 13px;
        }

        .li {
            font-size: 13px;
            line-height: 15px;
            margin-left: 10px;
        }

        .li::after {
            top: 3px;
            left: -10px
        }

        .cup {
            img {
                max-width: 100%;
                margin: 0;
            }
        }
    }

    #slide3 {
        .content-wrapper {
            flex-flow: column;
        }

        h2 {
            font-size: 12px;
            line-height: 12px;
        }

        .container {
            padding-top: 15vh;
        }

        .video-wrapper {
            img {
                max-width: 100%;
            }
        }
    }

    #slide4 {
        .container {
            padding-top: 14vh;
        }

        h2 {
            font-size: 14px;
        }

        .content-wrapper {
            .advant {
                height: 120px;
                font-size: 12px;
                margin: 0;

                .img-wrapper {
                    height: 70px;
                    flex-flow: row;
                }

                img {
                    max-width: 40%;
                }
            }

            .no-phone {
                display: none;
            }
        }
    }

    #slide5 {
        .container {
            flex-flow: column;
            padding-top: 15vh;
            justify-content: flex-start;

            .left {
                .comp {
                    margin-top: 0;

                    .text {
                        font-size: 12px;
                    }

                    img {
                        max-width: 100%;
                    }
                }
            }

            .device {
                #text1 {
                    left: 121px;
                    top: 20px;
                    font-size: 10px;

                    .triangle {
                        margin-top: 6px;
                        border-left: 6px solid transparent;
                        border-right: 6px solid transparent;
                        border-top: 10px solid #5F5F5F;
                    }
                }

                #text2 {
                    display: none;
                }

                #text3 {
                    left: -10px;
                    top: 169px;
                    font-size: 12px;

                    .triangle {
                        border-left: 9px solid transparent;
                        border-right: 9px solid transparent;
                        border-bottom: 15px solid #5F5F5F;
                    }
                }

                img {
                    max-width: 100%;

                }
            }
        }
    }

    #slide6 {
        .container {
            padding-top: 15vh;

            .mid {
                flex-flow: column;
                margin-top: 0px;
                margin-bottom: 10px;

                >div {
                    margin-bottom: 5px;
                }

                #plus1 {
                    margin-left: 0;
                }

                .small {
                    font-size: 12px;
                }

                .medium {
                    font-size: 15px;
                }

                .numb {
                    font-size: 43px;
                }

                .text1 {
                    font-size: 23px;
                }

                .text2 {
                    font-size: 12px;
                }

                .big {
                    justify-content: center;
                }
            }
        }
    }

    #slide7 {
        .container {
            padding-top: 15vh;

            .costs {
                flex-flow: column;
                margin-top: 0;
                height: 61vh;

                .left,
                .right,
                .center {
                    width: 196px;
                    height: auto;
                }

                .cost {
                    padding-top: 5px;
                    margin-top: 0;

                    .header {
                        margin-bottom: 0;
                    }

                    img {
                        max-width: 282px;
                        left: -43px;
                        top: -31px;
                    }

                    .numb {
                        font-size: 37px;
                    }

                    .text1 {
                        font-size: 19px;
                    }

                    .text2 {
                        font-size: 12px;
                    }

                    .paragraph {
                        font-size: 13px;
                    }
                }

                .center {
                    img {
                        top: -64px;
                    }

                    margin-bottom: 5px;
                }
            }
        }
    }

    #slide8 {
        .container {
            padding-top: 15vh;

            .steps {
                margin-left: 0;

                .step {
                    font-size: 11px;
                    margin-bottom: 10px;
                }

                .triangle {
                    margin: 0 7px;
                    margin-bottom: 10px;
                }
            }
        }
    }

    #slide9 {
        .container {
            padding-top: 15vh;

            .content-wrapper {
                height: 84vh;
                display: flex;
                flex-flow: column nowrap;
                justify-content: flex-start;
            }

            .footer {
                margin-top: auto !important;
                font-size: 12px;
                margin-top: 20px;

                .top {
                    flex-flow: column;

                    .center {
                        margin: 10px 0;
                    }

                    .right {
                        text-align: left;
                        white-space: initial;
                        align-items: flex-start;
                    }
                }
            }
        }
    }
}